
{% extends 'home.html' %}

{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    
    {% block content %}
    <h4>Add Items</h4>
    <form action="" method="POST"> 
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" value="save"/>
{% endblock content %}


    </form>
    
</body>
</html>