{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>{{header}}</h2>
<form action="" method="POST">{% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Search"/>

</form>     

<div class="display_table">
<table class="table">
    <thead>
        <tr>
            <th>Count</th>
            <th>ID</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
             <th>QUANTITY IN STORE</th>
            <th>ISSUE QUANTITY</th>
            <th>RECEIVE QUANTITY</th>
            <th>Issued By</th>
            <th>Received By</th>
            <th>LAST UPDATED</th>
        </tr>
    </thead>
    {% for instance in queryset %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.id}}</td>
        <td>{{instance.category}}</td>
        <td>{{instance.item_name}}</td>
        <td>{{instance.quantity}}</td>
        <td>{{instance.issued_quantity}}</td>
        <td>{{instance.received_quantity}}</td>
        <td>{{instance.issued_by}}</td>
        <td>{{instance.received_by}}</td>
        <td>{{instance.last_updated}}</td>
    </tr>
    {% endfor %}
    
    
</table>
</div>
{% endblock content%}