{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<h2>{{header}}</h2>
<form  method="POST" action="">{% csrf_token %}
{{form|crispy}}
<input type="submit" value="search">
</form>

<div class="display_table">
<table class="table">
    <thead>
        <tr>
            <th>Count</th>
            <th>Category</th>
            <th>Item Name</th>
            <th>Quantity In Store</th>
        </tr>
    </thead>
    {% for instance in queryset %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.category}}</td>
        <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
        <td>{{instance.quantity}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content%}