{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>{{header}}</h2>
<div class="row">
    <div class="col-sm-2">
<form  method="GET">
    {{form|crispy}}
    <input class="btn btn-primary mybutton" type="submit" value="Search"/>

</form>    
</div>
 <div class="col-sm-10">
<div class="display_table">
<table class="table">
    <thead>
        <tr>
            <th>Count</th>
            <th>ID</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
             <th>QUANTITY IN STORE</th>
            <th>ISSUE QUANTITY</th>
            <th>RECEIVE QUANTITY</th>
            <th>Issued By</th>
            <th>Received By</th>
            <th>LAST UPDATED</th>
        </tr>
    </thead>
    {% for instance in queryset %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.id}}</td>
        <td>{{instance.category}}</td>
        <td>{{instance.item_name}}</td>
        <td>{{instance.quantity}}</td>
        <td>{{instance.issued_quantity}}</td>
        <td>{{instance.received_quantity}}</td>
        <td>{{instance.issued_by}}</td>
        <td>{{instance.received_by}}</td>
        <td>{{instance.last_updated}}</td>
    </tr>
    {% endfor %}
    
    
</table>
<div class="pagination mt-3">

    {% with request.GET.urlencode as query_string %}

    {% if queryset.has_previous %}
    <a href="?{{ query_string }}&page=1"
        class="btn btn-sm btn-outline-primary">First</a>
       

     <a href="?{{ query_string }}&page={{ queryset.previous_page_number }}"
           class="btn btn-sm btn-outline-primary">&#8592Previous</a>
   
       
{% endif %}

<span class="mx-2">
    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}
</span>

   {% if queryset.has_next %}
        <a href="?{{ query_string }}&page={{ queryset.next_page_number }}"
           class="btn btn-sm btn-outline-primary">&#8594Next</a>

        <a href="?{{ query_string }}&page={{ queryset.paginator.num_pages }}"
           class="btn btn-sm btn-outline-primary">Last</a>
    {% endif %}

    {% endwith %}
</div><!---end of col-->
</div><!--end of row-->
</div>
{% endblock content%}